spring:
  application:
    name: SmartShop

  datasource:
    url: jdbc:postgresql://localhost:5432/SmartShop
    username: postgres
    password: 123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false

  session:
    store-type: none
    timeout: 30m

server:
  port: 8080
  servlet:
    context-path: /api
    session:
      timeout: 30m

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true